@import sass/_recursos
@import url("font-awesome.min.css")

/* ---- animation ---- */

@keyframes upLink
    from
        opacity: 0
        transform: translateY(25px)
        transition: all .5s ease
    to
        opacity: 1
        transform: translateY(0)
        transition: all .5s ease

*
    box-sizing: border-box
    margin: 0
    padding: 0

html 
    scroll-behavior: smooth

body
    font-family: 'Source Sans Pro', sans-serif
    font-size: 16px

a
    text-decoration: none

/* ---- header ---- */
nav
    align-items: center
    background-color: $white
    display: flex
    height: 60px
    position: fixed
    top: 0
    width: 100%
    z-index: 250

    section.logo-wrapper
        background-color: $yellow
        height: 40px
        left: 7.5%
        position: relative
        width: 40px

        a
            display: flex
            justify-content: center
            height: 100%

            img
                height: auto
                width: 60%
    
    div#icon-wrapper
        align-items: center
        cursor: pointer
        display: flex
        flex-direction: column
        justify-content: center
        height: 60px
        position: absolute
        right: 10%
        top: 0
        width: $bar-width
        z-index: 500

        .icon, .icon:before, .icon:after
            background: rgba(112, 112, 112,1)
            content: ""
            height: $bar-height
            transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1)
            width: $bar-width
        
        .icon
            position: relative

            &:before
                bottom: $bar-spacing
                position: absolute
                transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1)
                transition: all .5s ease
            
            &:after
                top: $bar-spacing
                position: absolute
                transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1)

            &.animate
                background: rgba(112, 112, 112,0)
                transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1)

                &:before, &:after
                    background-color: $white

                &:before 
                    bottom: 0
                    transform: rotate(-45deg)
                    transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1)
                
                &:after
                    top: 0
                    transform: rotate(45deg)
                    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1)
                

    ul#menu
        align-items: center
        background: $gradRed
        display: flex 
        flex-direction: column
        height: 100vh
        justify-content: center
        left: 0
        overflow: hidden
        position: absolute
        top: 0
        transform: translateX(100%)
        transition: all .75s ease
        width: 100%
        z-index: 150

        .text
            animation: upLink 1s ease 2s
            color: $white
            font-size: 0.8rem
            font-weight: 600
            letter-spacing: 12px
            position: relative
            top: -80px
            text-transform: uppercase

            &:before, &:after
                content: ""
                background: $white
                height: 1px
                position: absolute
                top: 8px
                width: 50vw

            &:before
                left: -230%
            &:after
                right: -220%

        li
            animation: upLink 1s ease 2s
            list-style-type: none
            margin: 10px 0
            opacity: 1
            transition: all .75s ease

            a
                color: $white
                font-size: 2rem
                font-weight: 600
    
        &.open
            box-shadow: 0px 3px 9px -1px rgba(112,112,112,0.5)
            transform: translateX(0%)
            transition: all .75s ease


/* ---- main ---- */
main
    position: relative

    section#home
        align-items: center
        display: flex
        flex-direction: column
        justify-content: center
        height: calc(100vh - 60px)
        margin-top: 10vh
        width: 100%

        section.nombre
            display: flex
            flex-direction: column
            justify-content: center
            height: 50vh
            left: 7.5%
            margin: 0 auto
            position: absolute
            top: 15vh
            width: 90%
            z-index: 50

            
            &:before
                background: $white
                content: ""
                height: 180px
                opacity: .9
                position: absolute
                top: 30px
                width: 92.5%
                z-index: -5

            h1
                color: $black
                display: flex
                flex-direction: column
                font-size: 2.25em
                justify-content: center
                margin-bottom: 10px
                position: relative
            
            h2
                color: $lightGrey 
                font-size: 1.35rem
                font-weight: 300
            
                span
                    font-size: 1.2rem
                    text-transform: uppercase

        section.portada
            border-radius: 0px 0px 0px 25px
            height: 70vh
            margin: 0 auto
            overflow: hidden
            position: absolute
            right: 0
            top: 50px
            width: 55%

            .img-wrapper
                height: 100%
                width: 100%

                img
                    height: 100%
            
            .bg-img
                background: $gradRed
                height: 100%
                opacity: .85
                position: absolute
                top: 0
                width: 150%
                    

        section.sidebar
            display: none

    a.btn 
        border: none
        cursor: pointer
        font-family: 'Source Sans Pro', sans-serif
        font-size: 1rem 
        font-weight: 700
        letter-spacing: 6px
        margin: 0 auto
        padding: .5rem
        transition: all .5s ease
        width: 150px

        &.primary
            background: $yellow
            color: $white
            position: relative
            top: 12.5vh
            text-align: center
            text-transform: uppercase
            transition: all .5s ease
            
        &:hover
            background: $red
            box-shadow: 0px 0px 10px -1px rgba(121,32,132,.5)
            color: $white
            transition: all .5s ease

        &:focus
            outline: none


    section#sobremi
        margin: 0 auto
        padding-top: 10vh
        width: 100%

        section.info
            background: $gradRed
            color: $white
            margin-top: 7.5vh
            min-height: 650px
            padding: 17.5% 10% 5%
            width: 100%

        h3 
            font-size: 2.5rem
            letter-spacing: 5px
            margin-bottom: 15%
            position: relative
            text-transform: uppercase

            &:after
                background: $white
                bottom: -14px
                content: ""
                height: 8px
                left: 0
                position: absolute
                width: 25%
            
        h4 
            letter-spacing: 1.5px
            margin-top: 5%
            text-transform: uppercase
            
        section.habilidades 
            min-height: 650px
            padding: 17.5% 10% 5%
            text-align: center
            width: 100%

            h4 
                color: $red
                margin-bottom: 15%

            h5
                color: $red
                margin-top: 10%

            p 
                display: flex
                justify-content: space-between
                margin: 4% auto
                width: 90%

            span 
                color: $red
                font-family: 'FontAwesome', sans-serif
                margin-left: 5%

        section.botones 
            display: flex
            min-height: 100px
            padding: 17.5% 10% 5%
            text-align: center
            width: 100%

            a.btn
                &.primary
                    letter-spacing: 4px
                    margin-left: 2%
                    top: 0

                &.secondary
                    border: 2px solid $darkGrey
                    color: $darkGrey
                    font-weight: 600
                    letter-spacing: 1px
                    margin-right: 2%
                    text-transform: uppercase

                    &:hover
                        background: $darkGrey
                        box-shadow: 0px 0px 10px -1px rgba(0,0,0,.25)
                        color: $white
                        transition: all .5s ease


    section#proyectos
        min-height: 100vh
        margin: 0 auto
        padding-top: 10vh
        width: 100%

        h3
            color: $lightGrey
            font-size: 1rem
            font-weight: 600
            margin: 7.5vh auto
            letter-spacing: 5px
            opacity: 0.75
            text-align: center
            text-transform: uppercase

        .proyectos-wrapper, .slider, #slide-proyectos, .proyecto-uno, .proyecto-dos, .proyecto-tres
            height: 55vh
            width: 100%
        
        .proyectos-wrapper
            position: relative

        .slider
            overflow: hidden
            position: relative

        #slide-proyectos
            display: flex 
            flex-direction: row
            overflow: hidden 
            width: 300%

            &.proyecto-uno
                margin-left: 0
                transition: margin .25s
            &.proyecto-dos
                margin-left: -100%
                transition: margin .25s
            &.proyecto-tres
                margin-left: -200%
                transition: margin .25s

        .proyecto-uno, .proyecto-dos, .proyecto-tres
            img 
                height: auto
                width: 100%

            .info
                bottom: 0
                color: $white
                height: 55vh
                padding: 10%
                position: absolute
                width: 100%

                .number
                    font-size: 2.5rem
                    font-weight: 700
                    opacity: 0.5
                .title
                    font-size: 1.95rem
                    font-weight: 700
                    margin-top: 12.5%
                .tag
                    font-size: 0.85rem
                    font-weight: 600
                    letter-spacing: 3px
                    text-transform: uppercase
                .ver-proyecto
                    background: rgba(0,0,0,.5)
                    border: 2px solid $white
                    color: $white
                    display: block
                    font-size: 0.9rem
                    font-weight: 700
                    letter-spacing: 2px
                    margin-top: 10%
                    padding: 2.5% 5%
                    text-align: center 
                    text-transform: uppercase    
                    transition: all .25s ease
                    width: 60%

                    &:hover
                        background: $white
                        color: $black
                        transition: all .25s ease
            
        @supports(object-fit: cover)
            .proyecto-uno, .proyecto-dos, .proyecto-tres
                img 
                    height: 100%
                    object-fit: cover
                    object-position: center center

        .proyecto-uno
            .info
                background: rgba(0, 82, 156, .75)
                transition: background .75s
        .proyecto-dos
            .info
                background: rgba(51,51,51, .75)
                transition: background .75s
        .proyecto-tres
            .info
                background: rgba(251, 147, 37, .75)
                transition: background .75s

        .thumbs
            bottom: -10%
            box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.75)
            display: flex
            height: 15vh
            left: 10%
            position: absolute
            width: 80%

            .minithumb
                display: flex
                height: 100%
                justify-content: center
                overflow: hidden
                width: 33.33%

                img 
                    filter: brightness(0.75)
                    height: 100%
                    transition: all .25s ease

                &:hover
                    img 
                        filter: brightness(1)
                        transform: scale(1.2)
                        transition: all .25s ease


    section#contacto
        background-color: $yellow
        margin: 10vh auto 0
        min-height: 200px
        padding: 3vh 0
        width: 100%
        
        h3
            color: $white
            font-size: 1rem
            font-weight: 600
            margin-top: 7.5vh
            letter-spacing: 5px
            opacity: 0.75
            text-align: center
            text-transform: uppercase

        section.email 
            margin-top: 10%
            text-align: center

            a 
                color: $white 
                font-size: 1.15rem
                letter-spacing: 1.5px

        section.redes 
            color: $darkGrey
            font-family: 'FontAwesome', sans-serif
            font-size: 1.5rem
            display: flex
            justify-content: space-around
            margin: 10% auto 
            width: 80%

            a
                align-items: center
                background: $white
                border-radius: 25px
                box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.2)
                cursor: pointer
                display: flex
                justify-content: center
                height: 45px
                text-align: center
                width: 45px

                &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4)
                    &:before
                        color: $darkGrey
                        font-size: 1.55rem
                
                &:nth-child(1)
                    &:before
                        content: "\f0e1"

                &:nth-child(2)
                    &:before
                        content: "\f09b"
                        padding-bottom: 1.5px
                        
                &:nth-child(3)
                    &:before
                        content: "\f1cb"

                &:nth-child(4)
                    &:before
                        content: "\f1b4"
            
                &:hover
                    transform: scale(1.1)
                    transition: all .15s ease

footer 
    background: $white
    min-height: 100px
    padding: 5% 0
    position: relative
    
    p 
        bottom: 0
        color: $darkGrey
        font-size: 0.85rem
        margin: 10% auto
        text-align: center
        width: 80%

  

/* ---- responsive breakpoints ---- */
@media (min-width: 1024px)
    nav 
        height: 10vh

        section.logo-wrapper
            height: 50px
            left: 6.25%
            width: 50px

            a
                img 
                    width: 68%

        div#icon-wrapper
            display: none

        ul#menu
            background: transparent
            flex-direction: row
            justify-content: flex-end
            height: 10vh
            left: 6.25%
            margin: 0 auto 
            transform: translateX(0px)
            width: 87.5%

            p.text 
                display: none

            li 
                animation: none
                margin-left: 4%

                a 
                    color: $darkGrey
                    font-size: 1rem
                    letter-spacing: 1.5px

    main
        margin: 0 auto 
        width: 87.5%

        section#home
            section.nombre 
                left: 10%
                width: 40%

                &:before
                    width: 50%

                h1 
                    font-size: 4rem
                
                h2 
                    font-size: 2.5rem

                    span 
                        font-size: 1.75rem

            section.portada 
                border-radius: 0px
                height: calc(100vh - 60px - 50px)
                right: 0
                width: 40%

                img
                    height: auto
                    width: 100%
        
        a.btn
            .primary
                position: relative
                top: 50px


        section#sobremi
            display: flex
            flex-wrap: wrap
            min-height: 100vh
            padding-top: 0

            section.info 
                height: 80vh
                padding: 8% 10% 5%
                width: 50%
            
            section.habilidades 
                height: 80vh
                padding: 8% 10% 5%  
                width: 50%

                h5
                    margin-top: 7.5%
            
            section.botones 
                padding: 7.5% 0
                width: 50%

                a.btn 

                    &.primary
                        margin: 0

        section#proyectos
            margin-bottom: 20vh

            .proyecto-uno, .proyecto-dos, .proyecto-tres
                .info
                    padding: 3.5% 7.5% 4.5%
                    width: 45%
                    .number
                        font-size: 3.75rem
                    .title
                        font-size: 2.75rem
                        margin-top: 9.5%
                    .tag
                        font-size: 1rem
                    .ver-proyecto
                        margin-top: 7.5%
                        width: 50%

            .thumbs
                bottom: -25%
                height: 20vh
                left: 20%
                width: 60%

                .minithumb
                    cursor: pointer
                    img 
                        height: auto
                        width: 100%

                @supports(object-fit: cover)
                    .minithumb
                        img 
                            height: 100%
                            object-fit: cover
                            object-position: center center
                
                

        section#contacto
            display: flex
            flex-wrap: wrap
            height: 50px
            padding: 3vh 0
            position: relative

            h3 
                color: $yellow
                font-size: 2.5rem
                font-weight: 700
                opacity: 1
                position: absolute
                top: -12.5vh
                width: 100%

            section.email
                height: 60px
                margin-top: 5%
                width: 50%

                a 
                    font-size: 1.5rem
            
            section.redes 
                height: 60px
                margin-top: 5%
                width: 30%
        
    footer 
        height: 50px
        margin: 0 auto 
        width: 87.5%

        p 
            margin: 0 auto 

/* ---- plantilla-proyecto ---- */