@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap");
/* ---- animation ---- */
@-webkit-keyframes upLink {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes upLink {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

/* ---- header ---- */
nav {
  background-color: #FFFFFF;
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 250;
}

nav section.logo-wrapper {
  background-color: #fdad00;
  height: 60px;
  left: 5%;
  position: relative;
  width: 60px;
}

nav section.logo-wrapper a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

nav section.logo-wrapper a img {
  height: auto;
  width: 60%;
}

nav div#icon-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60px;
  position: absolute;
  right: 10%;
  top: 0;
  width: 30px;
  z-index: 500;
}

nav div#icon-wrapper .icon, nav div#icon-wrapper .icon:before, nav div#icon-wrapper .icon:after {
  background: #707070;
  content: "";
  height: 3px;
  -webkit-transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  width: 30px;
}

nav div#icon-wrapper .icon {
  position: relative;
}

nav div#icon-wrapper .icon:before {
  bottom: 10px;
  position: absolute;
  -webkit-transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

nav div#icon-wrapper .icon:after {
  top: 10px;
  position: absolute;
  -webkit-transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

nav div#icon-wrapper .icon.animate {
  background: rgba(112, 112, 112, 0);
  -webkit-transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

nav div#icon-wrapper .icon.animate:before, nav div#icon-wrapper .icon.animate:after {
  background-color: #FFFFFF;
}

nav div#icon-wrapper .icon.animate:before {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

nav div#icon-wrapper .icon.animate:after {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

nav ul#menu {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(135deg, #e62048 0%, #792084 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all .75s ease;
  transition: all .75s ease;
  width: 100%;
  z-index: 150;
}

nav ul#menu .text {
  -webkit-animation: upLink 1s ease 2s;
          animation: upLink 1s ease 2s;
  color: #FFFFFF;
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 12px;
  position: relative;
  top: -80px;
  text-transform: uppercase;
}

nav ul#menu .text:before, nav ul#menu .text:after {
  content: "";
  background: #FFFFFF;
  height: 1px;
  position: absolute;
  top: 8px;
  width: 50vw;
}

nav ul#menu .text:before {
  left: -230%;
}

nav ul#menu .text:after {
  right: -220%;
}

nav ul#menu li {
  -webkit-animation: upLink 1s ease 2s;
          animation: upLink 1s ease 2s;
  list-style-type: none;
  margin: 10px 0;
  opacity: 1;
  -webkit-transition: all .75s ease;
  transition: all .75s ease;
}

nav ul#menu li a {
  color: #FFFFFF;
  font-size: 2rem;
  font-weight: 600;
}

nav ul#menu.open {
  -webkit-box-shadow: 0px 3px 9px -1px rgba(112, 112, 112, 0.5);
          box-shadow: 0px 3px 9px -1px rgba(112, 112, 112, 0.5);
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: all .75s ease;
  transition: all .75s ease;
}

/* ---- main ---- */
main {
  position: relative;
}

main section#home {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: calc(100vh - 60px);
  margin-top: 10vh;
  width: 100%;
}

main section#home section.nombre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50vh;
  left: 7.5%;
  margin: 0 auto;
  position: absolute;
  top: 15vh;
  width: 90%;
  z-index: 50;
}

main section#home section.nombre:before {
  background: #FFFFFF;
  content: "";
  height: 180px;
  opacity: .9;
  position: absolute;
  top: 30px;
  width: 92.5%;
  z-index: -5;
}

main section#home section.nombre h1 {
  color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 2.25em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
  position: relative;
}

main section#home section.nombre h2 {
  color: #9d9c9c;
  font-size: 1.35rem;
  font-weight: 300;
}

main section#home section.nombre h2 span {
  font-size: 1.2rem;
  text-transform: uppercase;
}

main section#home section.portada {
  border-radius: 0px 0px 0px 25px;
  height: 70vh;
  margin: 0 auto;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 50px;
  width: 55%;
}

main section#home section.portada .img-wrapper {
  height: 100%;
  width: 100%;
}

main section#home section.portada .img-wrapper img {
  height: 100%;
}

main section#home section.portada .bg-img {
  background: linear-gradient(135deg, #e62048 0%, #792084 100%);
  height: 100%;
  opacity: .85;
  position: absolute;
  top: 0;
  width: 150%;
}

main section#home section.sidebar {
  display: none;
}

main a.btn {
  border: none;
  cursor: pointer;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 6px;
  margin: 0 auto;
  padding: .5rem;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  width: 150px;
}

main a.btn.primary {
  background: #fdad00;
  color: #FFFFFF;
  position: relative;
  top: 12.5vh;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

main a.btn:hover {
  background: #e62048;
  -webkit-box-shadow: 0px 0px 10px -1px rgba(121, 32, 132, 0.5);
          box-shadow: 0px 0px 10px -1px rgba(121, 32, 132, 0.5);
  color: #FFFFFF;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

main a.btn:focus {
  outline: none;
}

main section#sobremi {
  margin: 0 auto;
  padding-top: 10vh;
  width: 100%;
}

main section#sobremi section.info {
  background: linear-gradient(135deg, #e62048 0%, #792084 100%);
  color: #FFFFFF;
  margin-top: 7.5vh;
  min-height: 650px;
  padding: 17.5% 10% 5%;
  width: 100%;
}

main section#sobremi h3 {
  font-size: 2.5rem;
  letter-spacing: 5px;
  margin-bottom: 15%;
  position: relative;
  text-transform: uppercase;
}

main section#sobremi h3:after {
  background: #FFFFFF;
  border-radius: 3px;
  bottom: -14px;
  content: "";
  height: 8px;
  left: 0;
  position: absolute;
  width: 25%;
}

main section#sobremi h4 {
  letter-spacing: 1.5px;
  margin-top: 5%;
  text-transform: uppercase;
}

main section#sobremi section.habilidades {
  min-height: 650px;
  padding: 17.5% 10% 5%;
  text-align: center;
  width: 100%;
}

main section#sobremi section.habilidades h4 {
  color: #e62048;
  margin-bottom: 15%;
}

main section#sobremi section.habilidades h5 {
  color: #e62048;
  margin-top: 10%;
}

main section#sobremi section.habilidades p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 4.5% auto;
  width: 90%;
}

main section#sobremi section.habilidades span {
  color: #e62048;
  font-family: 'FontAwesome';
  letter-spacing: 2px;
  margin-left: 5%;
}

main section#sobremi section.botones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100px;
  padding: 17.5% 10% 5%;
  text-align: center;
  width: 100%;
}

main section#sobremi section.botones a.btn.primary {
  letter-spacing: 4px;
  margin-left: 2%;
  top: 0;
}

main section#sobremi section.botones a.btn.secondary {
  border: 2px solid #707070;
  color: #707070;
  font-weight: 600;
  letter-spacing: 1px;
  margin-right: 2%;
  text-transform: uppercase;
}

main section#sobremi section.botones a.btn.secondary:hover {
  background: #707070;
  -webkit-box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.25);
  color: #FFFFFF;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

main section#proyectos {
  height: 100vh;
  margin: 0 auto;
  padding-top: 10vh;
  width: 90%;
}

main section#proyectos h3 {
  color: #9d9c9c;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 7.5vh;
  letter-spacing: 5px;
  opacity: 0.75;
  text-align: center;
  text-transform: uppercase;
}

main section#contacto {
  background-color: #fdad00;
  margin: 10vh auto 0;
  min-height: 200px;
  padding: 3vh 0;
  width: 100%;
}

main section#contacto h3 {
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 7.5vh;
  letter-spacing: 5px;
  opacity: 0.75;
  text-align: center;
  text-transform: uppercase;
}

main section#contacto section.email {
  margin-top: 10%;
  text-align: center;
}

main section#contacto section.email a {
  color: #FFFFFF;
  font-size: 1.15rem;
  letter-spacing: 1.5px;
}

main section#contacto section.redes {
  color: #707070;
  font-family: 'FontAwesome';
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 10% auto;
  width: 80%;
}

main section#contacto section.redes p {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  border-radius: 25px;
  -webkit-box-shadow: 0px 0px 9px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 9px -1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 45px;
  text-align: center;
  width: 45px;
}

footer {
  background: #FFFFFF;
  min-height: 100px;
  padding: 5% 0;
  position: relative;
}

footer p {
  bottom: 0;
  font-size: 0.85rem;
  margin: 10% auto;
  text-align: center;
  width: 80%;
}

/* ---- responsive breakpoints ---- */
@media (min-width: 1024px) {
  nav {
    height: 84px;
  }
  nav section.logo-wrapper {
    height: 84px;
    left: 10%;
    width: 84px;
  }
  nav section.logo-wrapper a img {
    width: 68%;
  }
  nav div#icon-wrapper {
    display: none;
  }
  nav ul#menu {
    background: transparent;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 90px;
    left: 6.25%;
    margin: 0 auto;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    width: 87.5%;
  }
  nav ul#menu p.text {
    display: none;
  }
  nav ul#menu li {
    -webkit-animation: none;
            animation: none;
    margin-left: 4%;
  }
  nav ul#menu li a {
    color: #707070;
    font-size: 1.15rem;
    letter-spacing: 1.5px;
  }
  main {
    margin: 0 auto;
    width: 87.5%;
  }
  main section#home section.nombre {
    left: 10%;
    width: 40%;
  }
  main section#home section.nombre:before {
    width: 50%;
  }
  main section#home section.nombre h1 {
    font-size: 4rem;
  }
  main section#home section.nombre h2 {
    font-size: 2.5rem;
  }
  main section#home section.nombre h2 span {
    font-size: 1.75rem;
  }
  main section#home section.portada {
    border-radius: 0px;
    height: calc(100vh - 60px - 50px);
    right: 0;
    width: 40%;
  }
  main section#home section.portada img {
    height: auto;
    width: 100%;
  }
  main a.btn .primary {
    position: relative;
    top: 50px;
  }
  main section#sobremi {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    min-height: 100vh;
    padding-top: 0;
  }
  main section#sobremi section.info {
    height: 80vh;
    padding: 8% 10% 5%;
    width: 50%;
  }
  main section#sobremi section.habilidades {
    height: 80vh;
    padding: 8% 10% 5%;
    width: 50%;
  }
  main section#sobremi section.habilidades h5 {
    margin-top: 7.5%;
  }
  main section#sobremi section.botones {
    padding: 7.5% 0;
    width: 50%;
  }
  main section#sobremi section.botones a.btn.primary {
    margin: 0;
  }
  main section#contacto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 50px;
    padding: 3vh 0;
    position: relative;
  }
  main section#contacto h3 {
    color: #fdad00;
    font-size: 2.5rem;
    font-weight: 700;
    opacity: 1;
    position: absolute;
    top: -12.5vh;
    width: 100%;
  }
  main section#contacto section.email {
    height: 60px;
    margin-top: 5%;
    width: 50%;
  }
  main section#contacto section.email a {
    font-size: 1.5rem;
  }
  main section#contacto section.redes {
    height: 60px;
    margin-top: 5%;
    width: 30%;
  }
  footer {
    height: 50px;
    margin: 0 auto;
    width: 87.5%;
  }
  footer p {
    margin: 0 auto;
  }
}
/*# sourceMappingURL=main.css.map */