// tipografias
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap')
@font-face
    font-family: 'FontAwesome'
    src: url(../fonts/fontawesome.ttf) format('ttf')

// colores
$white: #FFFFFF
$yellow: #fdad00
$black: #333333
$darkGrey: #707070
$lightGrey: #9d9c9c

$red: #e62048
$violet: #792084

// gradient
$gradRed: linear-gradient(135deg, rgba(230,32,72,1) 0%, rgba(121,32,132,1) 100%)

// icon
$bar-width: 30px
$bar-height: 3px
$bar-spacing: 10px
