// tipografias
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap')

// colores
$white: #FFFFFF
$yellow: #febb2a
$green: #24a698
$black: #252525
$darkGrey: #343631
$lightGrey: #707070

$red: #E62048
$violet: #792084

// gradient
$gradYellow: linear-gradient(135deg, rgba(254,187,42,1) 0%, rgba(232,91,39,1) 100%)
$gradGreen: linear-gradient(135deg, rgba(31,189,172,1) 0%, rgba(30,116,136,1) 100%)
$gradRed: linear-gradient(135deg, rgba(230,32,72,1) 0%, rgba(121,32,132,1) 100%)